.monimage{
    
}
.monbutton{
    background-color: green;
    height: 30px;
    

}
body{
    background-image:url(monimage.jpg) ;
    background-size: cover;
}
.monform{
    margin-left: 1000px;
    
}
p{
    height: 30px;
    
}
a{
    color: blue;
    
}