.monimage{
    
}
.monbutton{
    background-color: green;
    height: 30px;
    

}
body{
    background-image:url(monimage.jpg) ;
    background-size: cover;
}
.monform{
    margin-left: 1000px;
    
}
p{
    height: 30px;
    color: white;
    font-size: medium;
}
a{
    color: blue;
    
}
.mondiv{
    border: solid 1px black;
    width: 700px;
    height: 100px;
    margin-top: -250px;
}