.monimage{
    
}
.monbutton{
    background-color: green;
    height: 30px;
    

}
body{
    background-image:url(monimage.jpg) ;
    background-size: cover;
}
.monform{
    margin-left: 1000px;
    
}
p{
    height: 30px;
    
}
a{
    color: blue;
    
}
table{
    border: solid 1px blue;
    height: 200px;
    width: 500px;
}
tr{
    border: solid 1px black;

}
td{
    border: solid 1px black;
}